@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(240, 1%, 75%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --body-color: hsl(206, 4%, 97%);
    --body-font: 'Roboto', sans-serif;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

body.dark{
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
}

/*---- Loader ----*/

.loader{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.loader.hide{
    display: none;
}

.loader--img{
    width: 100px;
    fill: var(--first-color);
    position: relative;
    animation: load 1.5s infinite;
}

/*---- Barra de Navegación ----*/

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 1rem;
}

.nav--logo{
    width: 60px;
    fill: var(--first-color);
    margin-right: 1rem;
}

.nav-initial{
    display: flex;
    align-items: center;
}

.logo-text{
    margin-right: 1rem;
    color: var(--title-color);
}

.nav-sections{
    position: absolute;
    background-color: var(--container-color);
    width: 100%;
    top: 80px;
    min-height: calc(100vh - 80px);
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    display: flex;
    left: -100%;
}

.nav-item{
    list-style: none;
    font-size: 1.25rem;
}

.nav-item > a{
    color: var(--title-color);
    text-decoration: none;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.counter{
    background-color: black;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 40px;
}

.cart--container{
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    position: fixed;
    top: 0;
    left: 0;
}

.cart--container.hide{
    display: none;
}

.cart{
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -4px 5px 10px rgb(147 147 147);
    padding: 4rem 1.5rem;
}

.close--cart{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--title-color);
}

.cart h2{
    text-align: center;
    margin-bottom: 6rem;
    color: var(--title-color);
}
/*---- PRODUCTS OF CART ----*/

.products-selected{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.product-seleccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.img-prod{
    width: 4.5rem;
    background-color: var(--card-color);
    height: -webkit-fill-available;
}

.info-prod{
    line-height: 2rem;

}

.info-prod h3{
    color: var(--title-color);
}

.stock-product-value{
    color: var(--text-color);
}

.product-price-value{
    color: var(--first-color);
    border-left: 1px solid var(--text-color);
}

.subtotal-product{
    color: var(--first-color);
}

.amount-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
}

.amount{
    width: 1rem;
    border: 0;
}

.bx-trash-alt{
    color: var(--first-color);
}

/*--- TOTAL ---*/

.total-items{
    display: flex;
    justify-content: space-between;
    color: var(--title-color);
}

.check-btn{
    float: right;
    padding: 1rem;
    font-size: 14px;
    margin-top: 2rem;
    color: var(--text-color);
    border: none;
    background-color: var( --button-color-alt);
}


.menu--container{
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    position: fixed;
    top: 0;
    left: 0;
}

.menu--container.hide{
    display: none;
}

.menu{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    /* max-width: 400px; */
    right: 0;
    box-shadow: -4px 5px 10px rgb(147 147 147);
}

.close--menu{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

#text{
    margin-top: 5rem;
}

.menu p{
    line-height: 3rem;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--title-color);
}

/*---- header ----*/

.section-header{
    display: flex;
    flex-direction: column;
}

.header-img{
    width: 15rem;
    background-color: var(--first-color);
    margin-left: auto;
    display: block;
    margin-bottom: 3rem;
}

.header-text{
    margin: 0 1rem;
}

.header-text h1{
    width: 15rem;
    font-size: 25px;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.header-text p{
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-size: 15px;
    width: 20rem;
}

.price{
    color: var(--first-color);
    font-size: 18px;
    font-weight: 500;
}


.botones{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.boton{
    background-color: var(--button-color-alt);
    padding: 0.8rem 1.5rem;
    border: none;
    font-size: 15px;
    font-weight: 700;
}

.add-btn{
    background-color: var(--button-color);
    padding: 1rem 1.5rem;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 16px;
    box-shadow: 0px 1px 9px grey
}

/* ---- Filter ----- */

.products-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    color: var(--title-color);
    margin-top: 4rem;
}

.filter{
    width: 10rem;
    border-right: 1px solid var(--text-color);
}

.filter p:hover{
    font-weight: 600;
}

.filter h5{
    font-weight: 500;
}

.no-border{
    border: none
}

/* ---- Productos ---- */

.products{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-color);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.product-img{
    background-color: var(--card-color);
    width: 15rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* .product-text{
    line-height: 2rem;
    color: var(--title-color);
    padding: 1rem;
} */

.product-price{
    font-size: 20px;
    font-weight: 600;
    color: var(--title-color);
}

.product-stock{
    font-size: 15px;
    font-weight: 200;
    color: var(--title-color);
}

.product-name{
    font-size: 20px;
    font-weight: 500;
    color: var(--title-color);
}

.circle{
    background-color: var(--button-color-alt);
    color: var(--title-color);
    box-shadow: 0 0 10px grey;
    width: 2rem;
    text-align: center;
    padding: .5rem 0rem;
    border-radius: 50%;
    position: relative;
    bottom: 5rem;
    left: 12rem;
}


.product-stock{
    border-left: 1px solid var(--text-color);
    padding-left: 0.5rem;
}


/* ---- Footer ----*/

.footer-section{
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.footer-content{
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.info{
    margin-bottom: 2rem;
}

.info h2{
    color: var(--title-color);
    margin-bottom: 1rem;
}

.info p{
    color: var(--text-color);
    line-height: 1.5rem;
}

.redes{
    display: inline-flex;
    gap: 1rem;
}

.redes i{
    color: var(--text-color);
}



@keyframes load {
    0%{
        top: 0;
    }
    50%{
        top: -30px;
    }
    100%{
        top: 0;
    }
}







@media screen and (min-width: 600px) {
    
}

@media screen and (min-width: 768px) {
    nav{
        padding: 0 4rem;
    }
    
    .nav-menu{
        display: none;
    }

    .nav-sections{
        position: static;
        flex-direction: row;
        justify-content:space-between;
        background-color: transparent;
        font-weight: 500;
    }

    .nav-item a:hover{
        color: var(--first-color);
    }

    .cart{
        max-width: 400px;
        box-shadow: none;
    }

    .cart--container{
        background: transparent;
    }

    .products{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    } 

    
    .section-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
    }

    .header-img{
        width: 25rem;
        right: -1rem;
    }

    .header-text h1{
        font-size: 2rem;
        margin-top: 6rem;
        width: 20rem;
    }

    .header-text p{
        font-size: 16px;
        width: 30rem;
    }


    .footer-section{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .footer-content{
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }

}

@media screen and (min-width: 992px) {
    .footer-content{
        display: flex;
        flex-direction: row;
        gap: 9rem;
        margin-bottom: 4rem;
    }
}